@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0F172A;
  color: #F1F5F9;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1E293B;
}

::-webkit-scrollbar-thumb {
  background: #38BDF8;
  border-radius: 3px;
}

::selection {
  background: rgba(56, 189, 248, 0.25);
  color: #F1F5F9;
}
